@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Teste de Conhecimento para Campos Dealer</p>
    <div>
    <h2>Bem-vindo à Página Principal</h2>
        <button class="btn btn-primary" onclick="window.location.href = '/Produto'">Gerenciar Produtos</button>
        <button class="btn btn-primary" onclick="window.location.href = '/Cliente'">Gerenciar Clientes</button>
        <button class="btn btn-primary" onclick="window.location.href = '/Venda'">Gerenciar Vendas</button>

    </div>

</div>  